
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

@import "tailwindcss"; 

@theme {
  --font-bitcount: "Bitcount Prop Single", sans-serif;
  --color-seco: oklch(27.8% 0.033 256.848);
  --color-btn: #3B70AF;
}

/* Custom Minimal Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5); /* gray-400 with opacity */
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.8); /* gray-500 with opacity */
}
